.searchBox {
  width: fit-content;
  height: fit-content;
  position: relative;
  flex: 1;
}
.inputSearch {
  width: 60px;
  justify-content: center;
  text-align: center;
  display: flex;
  border-style: none;
  padding: 10px;
  font-size: 13px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
  background-color: #4caf50;
  /* padding-right: 40px; */
  color: #fff;
}
.inputSearch::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 10;
}

.inputSearch:focus {
  width: 200px;
  border-radius: 0px;
  text-align: start;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  background-color: transparent;
}
